.game-board {
    position: absolute;
    top: 30%;
    margin: 0 auto ;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

/*  for some css stylings */
body {
  display: flex;
  justify-content: center;
  background-color: rgba(70, 178, 185, 0.3);
}

.game-board div {
  background: rgba(211, 208, 44, 0.7);
  border: 3px solid rgb(198, 131, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  padding: 30px;
}

img {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 0;
}